@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff
}

/* ================================================================================================================================
                                                    ZAKLADNI CISTY LAYOUT
================================================================================================================================ */

html{
    height: 100%;
    background-color: rgb(177, 177, 255);
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 211, 176);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#header{
    width: 100%;
    height: 15vh;
    background-color: coral;
}

#menu1{
    width: 100%;
    height: 10vh;
    background-color: rgb(21, 20, 20);
    color: #fff;
}

#middle{
    display: flex;
    flex: 1;
    height: 60vh;
    width: 100%;
}

#menu2{
    background-color: rgb(212, 204, 201);
    color: #333;
    width: 15%;
    height: 100%;
}

#main{
    height: 100%;
    width: 85%;
    background-color: rgb(220, 218, 213);
}

#footer{
    height: 15%;
    width: 100%;
    background-color: rgb(21, 20, 20);
}

.container{
    margin: 0 auto;
    padding: 10px;
}

/* ================================================================================================================================
                                                        HEADER
================================================================================================================================ */

#header{
    display: flex;
}

#header .container{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
}

/* ================================================================================================================================
                                                            MAIN
================================================================================================================================ */

#main{
    text-align: center;
}

#main h2{
    padding-top: 10px;
}

#main .container img{
    width: 25%;
}

/* ================================================================================================================================
                                                        MAIN AIRPORT
================================================================================================================================ */
.airport{
    width: 100%;
    height: 100%;
}

.containerAirport{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#checkPlusMap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    width: 100%;
}

#option{
    width: 50%;
}

#drop{
    width: 100%;
}

.form{
    width: 45%;
    height: 70%;
    background-image: url(images/box.gif);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.form a{
    color: rgb(225, 113, 113);
}

.form a:hover{
    text-decoration: underline;
}

.item{
    padding: 5px;
}

.item:nth-of-type(2){
    margin-bottom: auto;
}

.item:nth-of-type(3){
    margin-top: auto;
    align-self: flex-end;
    margin: 5px;
}

.containerAirport h3{
    font-weight: bold;
    font-size: 12;
    color: rgb(101, 100, 100);
    font-family: Tahoma, sans-serif;
}

/* ================================================================================================================================
                                                            MENU 1
================================================================================================================================ */

#menu1 .container{
    display: flex;
    width: 100%;
    height: 100%;
}

#menu1 .container ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* ================================================================================================================================
                                                            MENU 2
================================================================================================================================ */

#menu2 .container img{
    width: 90%;
    height: 90%;
}

#menu2 .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ================================================================================================================================
                                                            FOOTER
================================================================================================================================ */

#footer .container{
    display: flex;
    color: #fff;
    height: 100%;
    justify-content: center;
    text-align: center;
}

#footer .container div{
    display: flex;
    align-items: center;
}

#footer a:hover{
    text-decoration: underline;
}



/* ================================================================================================================================
                                                        ANIMATED NAV BAR
================================================================================================================================ */

#menu1 a:hover{
    display: block;
    opacity: .7;
    color: rgb(36, 37, 37);
    background-color: rgb(182, 187, 187);
    transform: scale(107%);
}

 #menu1 a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 3px solid rgb(75, 81, 81);
    background-color: rgb(39, 41, 41);
    padding: 5px 10px;
    margin: 5px;
}

.animated {
    transition-property: background, transform;
    transition-duration: 1s, 1s;
}

/* ================================================================================================================================
                                                        MEDIA QUERIES WIDTH 1200px
================================================================================================================================ */

@media (max-width: 1200px){
    
    #header{
        width: 100%;
        height: 15%;
        background-color: coral;
    }
    
    #menu1{
        width: 100%;
        height: auto;
        background-color: rgb(21, 20, 20);
        color: #fff;
    }
    
    #middle{
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    
    #menu2{
        background-color: rgb(212, 204, 201);
        color: #333;
        width: 100%;
        height: 100%;
    }

    #menu2 .container{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #main{
        height: 100%;
        width: 100%;
        background-color: rgb(220, 218, 213);
    }

    #checkPlusMap{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 20px;
    }

    .item:nth-of-type(3){
        font-size: 13px;
    }
    
    #footer{
        height: 15vh;
        width: 100%;
        background-color: rgb(21, 20, 20);
    }
}

/* ================================================================================================================================
                                                        MEDIA QUERIES HEIGHT 500px
================================================================================================================================ */

@media (max-height: 650px){
    
    #header{
        width: 100%;
        height: auto;
        background-color: coral;
    }
    
    #menu1{
        width: 100%;
        height: auto;
        background-color: rgb(21, 20, 20);
        color: #fff;
    }
    
    #middle{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    
    #menu2{
        background-color: rgb(212, 204, 201);
        color: #333;
        width: 100%;
        height: 100%;
    }

    #menu2 .container{
        flex-direction: row;
    }
    
    #main{
        height: 100%;
        width: 100%;
        background-color: rgb(220, 218, 213);
    }

    #checkPlusMap{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 15px;
    }
    
    #footer{
        height: auto;
        width: 100%;
        background-color: rgb(21, 20, 20);
    }

    #footer .container div{
        width: 15%;
    }

}

/* ================================================================================================================================
                                                        MEDIA QUERIES WIDTH 650px
================================================================================================================================ */

@media (max-width: 650px){
    div h1{
        font-size: 12px;
    }

    div{
        font-size: 10px;
    }

    #menu1 .container ul{
        flex-direction: column;
        display: block;
    }

    #menu1 a{
        padding: 5px 120px;
        margin: 5px;
        border: 2px solid rgb(75, 81, 81);
    }

    #menu1 a:hover{
        opacity: .7;
        color: rgb(36, 37, 37);
        background-color: rgb(182, 187, 187);
        transform: scale(107%);
    }

    #menu2 .container img{
        height: 60px;
    }

    #main .container{
        display: flex;
        flex-direction: column;
    }

    #main .container img{
        width: 220px;
        height: 100px;
    }

    .form{
        width: 100%;
        height: 100%;
        background-image: url(images/box.gif);
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
    }

    #checkPlusMap{
        padding-top: 20px;
    }

}

/* ================================================================================================================================
                                                        MEDIA QUERIES WIDTH 350px
================================================================================================================================ */

@media (max-width: 350px){
    #menu1 a{
        padding: 5px 50px;
        margin: 5px;
        border: 2px solid rgb(75, 81, 81);
    }

    #header .container h1{
        font-size: 8px;
    }

    #header .container p{
        font-size: 5px;
    }

    #header img{
        width: 40px;
    }
}